doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery.js')
    script(src='/dist/js/bootstrap.min.js')
  body
   div.container
    block content
